@font-face {
    font-family: ubuntu;
    src: url(./assets/ubuntu-font-family-0.83/ubuntu-r.ttf);
}


html, #root, #page-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}
body {
    height: 100vh;
	margin: 0;
	padding: 0;
    background: #FFFFFF;
    font-family: ubuntu;
    color: #636363;
}
header {  /*menu bar maybe?*/
    position: absolute;
    width: 1393px;
    height: 71px;
    left: 23px;
    top: 0px;
}
.content {
    flex: 1 0 auto;
}
.spacer {
    width: 100%;
    height: 81px;
}
