@font-face {
    font-family: Ubuntu-R;
    src: url(./assets/ubuntu-font-family-0.83/ubuntu-r.ttf);
}

@font-face {
    font-family: Ubuntu-C;
    src: url(./assets/ubuntu-font-family-0.83/Ubuntu-C.ttf);
}

@font-face {
    font-family: Ubuntu-Th;
    src: url(./assets/ubuntu-font-family-0.83/Ubuntu-Th.ttf);
}

body {
	margin: 0;
	padding: 0;
    background: #FFFFFF;
    font-family: Ubuntu-R;
    color: #636363;
}
header {  /*menu bar maybe?*/
    position: absolute;
    width: 1393px;
    height: 71px;
    left: 23px;
    top: 0px;
}
footer{
    position: absolute;
    width: 1441px;
    height: 357px;
    left: -1px;
    bottom: 0px;
    background: #D97F5B;
}

.spacer {
    width: 100%;
    height: 81px;
}
