.home-text-container-1 {
    text-align: center;
    padding: 30px;
}

/* Body/recipe section */
.body-column {
    width: 400px;
    position: relative;
}

.body-button-container #view{
    display: inline-block;
    background-color: #ACACAC;
    color: white;
    border: none;
}

.body-button-container #sex-button{
    display: inline-block;
    background-color: #636363;
    color: white;
    border: none;
}

.body-button-container #sex {
    position: absolute;
    right: 0;
    display: inline-block;
}

.body-recipe-container {
    display: grid;
    grid-template-columns: min-content auto;
    grid-column-gap: 30px;
    padding: 0 50px;
    margin-bottom: 20px;
}

.recipe-column form {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.recipe-column input[type='text'] {
    flex-grow: 1;
    padding: 0px 25px;
    background: #F4F4F4;
    color: #63636380;
    font-size: 24px;
}
.recipe-column button {
    width: 150px;
    padding: 0px;
    margin-left: 8px;
    background: #636363;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    border: none;
}
.recipe-column button:hover
{
    background: #898a8a;
}

.recipe-list-container {
    height: 587px;
    overflow: scroll;
}

.recipe-list-item {
    background-color: #ededed;
    padding: 10px;
    margin-bottom: 10px;
}
.recipe-list-item b:hover {
    text-decoration: underline;
    cursor: pointer;
}

.recipe-list-item-spacer {
    background-color: #A6CC78;
    height: 10px;
}

/* Email sign-up form */
.email-container {
    background-color: #A6CC78;
    text-align: center;
    padding: 25px;
}

.email-container h1 {
    text-transform: uppercase;
    color: white;
    font-weight: normal;
    margin: 0 0;
}

.email-container h3 {
    text-transform: uppercase;
    color: #39393980;
    font-weight: normal;
    margin: 10 0;
}
.email-container form
{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
}
.email-container button, .email-container input
{
    border: none;
    height: 45px;
    vertical-align: top;
}
.email-container button
{
    width: 150px;
    padding: 0px;
    margin-left: 8px;
    background: #636363;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}
.email-container button:hover
{
    background: #898a8a;
}
.email-container input
{
    flex: 1;
    padding: 0px 25px;
    background: #F4F4F4;
    color: #63636380;
    font-size: 24px;
}

/* Admin Tools */
.recipe-popup {
    position: fixed;  
    width: 100%;  
    height: 100%;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
    margin: auto;  
    background-color: rgba(0,0,0, 0.5);  
}

.recipe-popup-inner {
    position: absolute;  
    left: 25%;  
    right: 25%;  
    top: 25%;  
    bottom: 25%;  
    margin: auto;  
    border-radius: 20px;  
    background: white;
    display: flex;
    flex-direction: column;
}

.recipe-popup-close-icon {
    position: absolute;
    left: 95%;
    margin: 7px;
}

.recipe-popup-close-icon:hover {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.recipe-popup-inner form {
    padding: 0 10px 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.recipe-popup form label {
    font-size: 1.2em;
}
.recipe-popup input[type=text]#name {
    font-size: 1.2em;
}
.recipe-popup input[type=text] {
    background: #ededed;
    padding-left: 10px;
}

.recipe-popup textarea {
    background: #ededed;
    flex-grow: 1;
    resize: none;
    padding: 10px;
}

.recipe-popup form button {
    align-self: center;
    margin-top: 5px;
    border: none;
    height: 45px;
    width: 150px;
    background: #636363;
    color: white;
    text-transform: uppercase;
    font-size: 1.3em;
}
.recipe-popup form button:hover {
    background: #898a8a;
}

.recipe-popup-edit-top-row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr;
    grid-column-gap: 10px;
}

.recipe-popup-edit-ingredients {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr;
    grid-column-gap: 10px;
}

.recipe-popup-title {
    margin: 15px 10px 0;
    font-size: 1.7em;
    padding-left: 20px;
    border-bottom: solid 1px #636363;
}
.recipe-popup-description {
    padding: 15px;
}