.home-text-container-1 {
    text-align: center;
    padding: 30px;
}

/* Body/recipe section */
.body-column {
    width: 400px;
    position: relative;
}

.body-button-container #view{
    display: inline-block;
    background-color: #ACACAC;
    color: white;
    border: none;
}

.body-button-container #female-button {
    display: inline-block;
}

.body-button-container #male-button {
    display: inline-block;
}

.body-button-container #neutral-button {
    display: inline-block;
}

.body-button-container #gender-buttons {
    position: absolute;
    right: 0;
    display: inline-block;
}

.body-recipe-container {
    display: grid;
    grid-template-columns: min-content auto;
    grid-column-gap: 30px;
    padding: 0 50px;
    margin-bottom: 20px;
}

.recipe-column form {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.recipe-column input[type='text'] {
    flex-grow: 1;
    padding: 0px 25px;
    background: #F4F4F4;
    color: #63636380;
    font-size: 24px;
}
.recipe-column button {
    width: 150px;
    padding: 0px;
    margin-left: 8px;
    background: #636363;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    border: none;
}
.recipe-column button:hover
{
    background: #898a8a;
}

.recipe-list-container {
    height: 567px;
    overflow: scroll;
}

.recipe-list-item {
    background-color: #ededed;
    padding: 10px;
    margin-bottom: 10px;
}
.recipe-list-item b:hover {
    text-decoration: underline;
    cursor: pointer;
}

.recipe-list-item-spacer {
    background-color: #A6CC78;
    height: 10px;
}

/* Email sign-up form */
.email-container {
    background-color: #A6CC78;
    text-align: center;
    padding: 25px;
}

.email-container h1 {
    text-transform: uppercase;
    color: white;
    font-weight: normal;
    margin: 0 0;
}

.email-container h3 {
    text-transform: uppercase;
    color: #39393980;
    font-weight: normal;
    margin: 10 0;
}
.email-container form
{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
}
.email-container button, .email-container input
{
    border: none;
    height: 45px;
    vertical-align: top;
}
.email-container button
{
    width: 150px;
    padding: 0px;
    margin-left: 8px;
    background: #636363;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}
.email-container button:hover
{
    background: #898a8a;
}
.email-container input
{
    flex: 1;
    padding: 0px 25px;
    background: #F4F4F4;
    color: #63636380;
    font-size: 24px;
}

/* Admin Tools */
.recipe-popup-edit-top-row {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
}

.recipe-popup-edit-ingredients {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr;
    grid-column-gap: 10px;
}

.recipe-popup-title {
    margin: 15px 10px 0;
    font-size: 1.7em;
    padding-left: 20px;
    border-bottom: solid 1px #636363;
}
.recipe-popup-description {
    padding: 15px;
}