.profile-text-box {
    text-align: center;
    padding: 25px 0;
    color: black;
}

.profile-container {
    background-color: #e5e5e5;
    padding: 15px 35px;
    max-width: 1200px;
    margin: 0 auto;
}

.profile-column-container {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
}

.profile-container button {
    background-color: #636363;
    color: white;
    border: none;
    padding: 3px 15px;
}

.profile-container button:hover {
    background-color: #898a8a;
    cursor: pointer;
    text-decoration: none;
}

.profile-column-1 {
    padding-right: 100px;
    display: flex;
    flex-direction: column;
}

.profile-column-1 form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.profile-column-1 form label {
    color: black;
    margin: 0;
}

.profile-column-1 form input {
    margin-bottom: 15px;
}

.profile-column-1 form button {
    align-self: flex-start;
    flex-grow: 0;
}

.profile-column-1 button {
    flex-grow: 0;
    align-self: flex-start;
}

.profile-account-type {
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    background-color: #B3B3B3;
    color: black;
}

.profile-account-type #label {
    flex-grow: 1;
}

.profile-column-2 {
    overflow: hidden;
}

.profile-thread-preview-container {
    background-color: white;
    padding: 5px;
    overflow-y: scroll;
    height: 400px;
}

.profile-thread-preview-container a {
    background-color: #636363;
    color: white;
    border: none;
    padding: 5px 30px;
}

.profile-thread-preview-container a:hover {
    background-color: #898a8a;
    cursor: pointer;
    text-decoration: none;
}

.profile-thread-preview {
    background-color: #e5e5e5;
    margin: 5px 0;
    border-left: 8px solid #a6cc78;
    padding: 0 5px;
}

.profile-thread-preview #title {
    color: black;
}

.profile-thread-preview #body {
    font-size: 0.8em;
    display: -webkit-box; 
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.profile-thread-preview-empty {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-manage-accounts {
    background-color: white;
    text-align: center;
    padding: 15px 0;
}

.profile-manage-accounts-text {
    text-align: center;
    padding: 20px 0;
}

.profile-manage-accounts input {
    background-color: #e5e5e5;
    border: none;
}

.profile-account-preview-container {
    border-left: 8px solid #a6cc78;
    margin: 0 25%;
    text-align: left;
    max-height: 240px;
    overflow-y: scroll;
}

.profile-account-preview {
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-account-preview #username{
    flex-grow: 1;
}

.profile-sign-out {
    margin: 30px 0;
    text-align: center;
}

.profile-sign-out a {
    background-color: #636363;
    color: white;
    font-size: 1.2em;
    border: none;
    padding: 5px 30px;
}

.profile-sign-out a:hover {
    background-color: #898a8a;
    color: white;
    cursor: pointer;
    text-decoration: none;
}