.image-container {
    position: relative;
}

.forum-title {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: 4em;
    text-transform: capitalize;
    text-align: right;
    color: white;
    text-align: center;
}

.forum-title span {
    display: inline-block;
    vertical-align: middle;
}

.forum-content {
    display: grid;
    width: 92%;
    grid-template-columns: 0.7fr 0.3fr;
    grid-column-gap: 30px;
    padding: 0 4%;
}

/* Threads */

.forum-column-1 {
    padding-bottom: 40px;
}
.search
{
    display: block;
    text-align: center;
    margin: 20px 0px;
}
.search form
{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0px;
}

.search button, .search input
{
    border: none;
    height: 45px;
    vertical-align: top;
}
.search button
{
    width: 150px;
    padding: 0px;
    margin-left: 8px;
    background: #636363;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}
.search button:hover
{
    background: #898a8a;
}
.search input
{
    flex: 1;
    padding: 0px 25px;
    background: #F4F4F4;
    color: #636363;
    font-size: 24px;
}

.thread-preview-block-container {
    background-color: #ededed;
    padding: 10px;
}

.thread-preview-name {
    font-weight: bold;
    text-decoration: none;
    color: #636363;
}

.thread-preview-name:hover {
    text-decoration: underline;
}

#thread-preview-likes-replies {
    float: right;
}

.thread-preview-body {
    display: -webkit-box; 
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.thread-preview-block-link {
    font-weight: bold;
    font-size: 0.8em;
}

.thread-preview-block-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Did You Know? */

.post-container {
    margin-bottom: 15px;
}

.post-spacer {
    background-color: #A6CC78;
    height: 15px;
}

.post-content {
    background-color: #ededed;
    padding: 10px;
}

.post-content p {
    display: -webkit-box; 
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}