.image-container {
    position: relative;
}

.forum-title {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: 4em;
    text-transform: capitalize;
    text-align: right;
    color: white;
    text-align: center;
}

.forum-title span {
    display: inline-block;
    vertical-align: middle;
}

.forum-content {
    display: grid;
    width: 92%;
    grid-template-columns: 0.7fr 0.3fr;
    grid-column-gap: 30px;
    padding: 0 4%;
}

/* Threads */

.forum-column-1 {
    padding-bottom: 40px;
}

.thread-preview-block-container {
    background-color: #ededed;
    padding: 10px;
}

#thread-preview-likes-replies {
    float: right;
}

.thread-preview-body {
    display: -webkit-box; 
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Did You Know? */

.post-container {
    margin-bottom: 15px;
}

.post-spacer {
    background-color: #A6CC78;
    height: 15px;
}

.post-content {
    background-color: #ededed;
    padding: 10px;
}

.post-content p {
    display: -webkit-box; 
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}