/* Rosemary Forest 1 */
.background-image{
    position: relative;
    width: 100%;
    height: auto;    
}

.sch-image-div {
    position: relative;
    height:600px;
    width: 100%;
    overflow: hidden;
}


.sch-centered-title  {
    position: absolute;
    top: 25%;
    height: 100%;
    width: 100%;
    font-size: 3.7em;
    color: white;
    text-align: center;
    display: inline-block;
    vertical-align: middle ;
}
.sch-below-title {
    position: absolute;
    top: 37%;
    height: 100%;
    width: 100%;
    font-size: 3em;
    color: white;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}
.sch-below-2 {
    position: absolute;
    top: 51%;
    height: 100%;
    width: 100%;
    font-size: 3em;
    color: white;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

/* Rectangle 22 */
.scheduleBot{
    position: absolute;
    width: 356px;
    height: 80px;
    left: 542px;
    top: 780px;
    background: #636363;
}

/* SCHEDULE NOW */
.schedule-text{
position: absolute;
width: 268px;
height: 37px;
left: 586px;
top: 801px;

font-family: Ubuntu;
font-style: normal;
font-weight: 300;
font-size: 36px;
line-height: 103.19%;
/* or 37px */

color: #FFFFFF;



}

.sch-image {
    overflow: hidden;
    width: 100%;
    height: auto;
}