/* Rosemary Forest 1 */
.image-Container{
    height: 400px;
}
.background-image{
    position: relative;
    width: 100%;
    height: auto;    
}

.sch-image-div {
    position: relative;
    height:400px;
    width: 100%;
    overflow: hidden;
}


.sch-centered-title  {
    position: absolute;
    top: 100px;
    width: 100%;
    font-size: 3.7em;
    color: white;
    text-align: center;
    display: inline-block;
}
.sch-below-title {
    position: absolute;
    top: 300px;
    width: 100%;
    font-size: 3em;
    color: white;
    text-align: center;
    display: inline-block;
}
.sch-below-2 {
    position: absolute;
    top: 350px;
    width: 100%;
    font-size: 3em;
    color: white;
    text-align: center;
    display: inline-block;
}


.calendar{
    margin: auto;
    width: 90%;
    content: "";
    display: table;
    clear: both;
    border: 3px solid ;
}

.CalandarTitle{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    text-align: center;
}

.dayCol{
    float: left;
    width: calc(100%/7);
    border: 3px solid green;
    text-align: center;
}
.dayLabel{
    border: 3px solid;
    text-align: center;
}
