/* Rosemary Forest 1 */
.image-Container{
    height: 400px;
}
.background-image{
    position: relative;
    width: 100%;
    height: auto;    
}

.sch-image-div {
    position: relative;
    height:400px;
    width: 100%;
    overflow: hidden;
}


.sch-centered-title  {
    position: absolute;
    top: 100px;
    width: 100%;
    font-size: 3.7em;
    color: white;
    text-align: center;
    display: inline-block;
}
.sch-below-title {
    position: absolute;
    top: 300px;
    width: 100%;
    font-size: 3em;
    color: white;
    text-align: center;
    display: inline-block;
}
.sch-below-2 {
    position: absolute;
    top: 350px;
    width: 100%;
    font-size: 3em;
    color: white;
    text-align: center;
    display: inline-block;
}


.calendar{
    margin: auto;
    width: 90%;
    content: "";
    display: table;
    clear: both;
}
.changeWeek{
    margin: auto;
    background: rgba(176, 214, 130, 0.932);
    color: white;
    width: 25%;
    border-radius: 10px;
}
.calendarHeader{
    background: rgba(176, 214, 130, 0.932);
    border-radius: 10px;
    
}
.CalandarTitle{
    margin: auto;
    width: 50%;
    color:white;
    background: rgba(176, 214, 130, 0.932);
    text-align: center;
    display: inline-block;
    border-radius: 10px;
}

.dayCol{
    float: left;
    width: calc(100%/7);
    border: 1px solid rgba(2, 172, 2, 0.521);
    text-align: center;
    border-radius: 15px;
}
.dayLabel{
    border: 2px solid;
    text-align: center;
    border-radius: 10px;
}

.meeting-item {
    background-color: #ededed;
    padding: 10px;
    margin-bottom: 10px;
}
.meeting-item b:hover {
    text-decoration: underline;
    cursor: pointer;
}

.meeting-item-spacer {
    background-color: #A6CC78;
    height: 10px;
}

.meeting-title{
    font-size: 36px;
    text-align: left;
    display: grid;
    
    height: 54px;
}
.schedule-buttons{
    text-align: center;
    padding: 2px;
    margin-left: 32%;
    background: #636363a9;
    color: white;
    text-transform: uppercase;
    font-size: 1.6em;
    border: none;
    white-space: nowrap;
}
.schedule-button-event{
    text-align: center;
    padding: 2px;
    margin-left: 45%;
    background: #636363a9;
    color: white;
    text-transform: uppercase;
    font-size: 1.6em;
    border: none;
    white-space: nowrap;
}
/*
 width: 150px;

*/

.buttons-divider{
    width:auto;
    height:10px;
   
}
.top-div{
    width:auto;
    height:20px;
}
.side-divider{
    text-align: center;
    height:auto;
   
}