.footer {
    background: #A6CC78;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1%;
    bottom: 0px;
}
.foot-link {
    color: black;
    padding: 2px 2px;
    text-align: left;
    text-decoration: none;
}
.foot-link:hover{
    background-color: #99ada6;
}
footer:any-link {
	float: left;
	width: 50%;
	padding: 10px;
	background-color: #a4f7e225;
}