footer {
    flex-shrink: 0;
    background-color: #A6CC78;
    background-image: url('./temp_logo.png');
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: 300px; /* maybe shouldnt hardcode this? */
    background-position: left bottom;
    width: 100%;
    padding: 25px 1% 5px;
}
.footer-container {
    display: grid;
    grid-template-areas:
        "text text links"
        ". icons links"
        "disclaim disclaim disclaim";
    grid-template-columns: 125px auto 125px;
    grid-template-rows: 1fr auto auto;
}
.text-container {
    grid-area: text;
    text-transform: uppercase;
    font-size: 3.5em;
    vertical-align: top;
    padding-left: 30px;
}
.link-container {
    grid-area: links;
    line-height: 125%;
    padding-left: auto;
    padding-right: 0;
}
.link-container h1 {
    margin: 0;
    font-size: 1em;
}
.link-container a {
    list-style-type: none;
    display: block;
}
.link-container a, .link-container a:visited, .link-container a:hover, .link-container a:active {
    color: black;
    opacity: 0.5;
    text-decoration: none;
}
.link-container a:hover{
    background-color: #99ada6;
}

.icon-container {
    grid-area: icons;
    vertical-align: bottom;
    display: flex;
    justify-content: center;
}
.react-icons {
    flex: 1;
    max-width: 80px;
}
.react-icons:hover {
    visibility: visible;
    opacity: 1;
}

.disclaim-container {
    grid-area: disclaim;
    text-align: center;
    vertical-align: bottom;
    color: black;
    opacity: 0.5;
}

@media screen and (max-width:750px) {
    .footer-container {
        display: grid;
        grid-template-areas:
            "text text text"
            "links links links"
            "icons icons icons"
            "disclaim disclaim disclaim";
        grid-template-columns: 125px auto 125px;
        grid-template-rows: 1fr auto auto;
    }
    .icon-container {
        margin: 10px 0;
    }
    .link-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
    }
    .link-container h1 {
        width: 100%;
    }
    .link-container a {
        flex-grow: 1;
    }
}



/* dircetly from internet */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
 
  /* Tooltip text */
.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
