.header {
    background: #f3f5f8;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1%;
}

.nav-logo {
    position: absolute;
    width: 219px;
    height: 71px;
    left: 0px;
    top: 0px;
}

.nav-logo:hover {
    cursor: pointer;
	background-color: #ddd;
}

.nav-items {
    display:flex;
    margin-left: auto;
    margin-right: 5%;
    align-items: center;
    font: ubuntu;
}

.nav-link {
    background-color: none;
    color: #363636;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #08bd9a;
}

