.header {
    position: fixed;
    z-index: 99;
    background: #FFFFFF;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Ubuntu-Th;
    font-weight: bold;
    color: #363636;
}

.nav-logo {
    width: 219px;
    height: 71px;
    left: 5px;
    vertical-align: middle;
    padding-left: 5px;
}

.nav-logo:hover {
    cursor: pointer;
	background-color: #ddd;
}

.nav-items {
    display:flex;
    margin-left: auto;
    margin-right: 1.5%;
    align-items: center;
}

.nav-link {
    background-color: none;
    color: #363636;
    padding: 14px 15px;
    text-align: center;
    text-decoration: none;
}

.nav-link-last {
    background-color: none;
    color: #363636;
    padding-left: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 8%;
    text-align: center;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-link-last:hover {
    text-decoration: underline;
}

.nav-link-sign-in {
    background-color: #636363;
    color: #FFFFFF;
    padding: 16px 20px;
    text-align: right;
    text-decoration: none;
}
.nav-link-sign-in:hover {
    background-color: #898a8a;
}

